/* .cardStack {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardStack-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.card {
  margin-top: 20px;
} */

.cardStack {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardStack-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.cardStack-container > *:not(:last-child) {
  margin-bottom: -197px;
  /* transform: translateY(218px); */
}

.card {
  position: relative;
  /* margin-top: 20px; */
}
